.test
{
    /*border: 1px solid red;*/
    width: 30%;
    float: left;
    margin: 14px;
    text-align: center;
    padding: 30px 0px;
    box-shadow: inset 5px 5px 5px 5px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px  red;
}
.test:hover
{
    background: black;
   /* display: none;*/
    
}
.test1:hover p
{
display: none;
}
.test1
{
background: skyblue;
}
.test2
{
    background: green;
}
.test3
{
    background: lightpink;
}